/dist
.env
.DS_Store
/uploads
/node_modules
yarn-error.log
medusa.log

.idea

coverage

!src/**

./tsconfig.tsbuildinfo
medusa-db.sql
build
.cache

.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

.medusamedusa-admin/

# Exclude embedded git repositories
storefront/

# Exclude node_modules in storeee
storeee/node_modules/
