legacy-peer-deps=true
engine-strict=false
update-notifier=false
fund=false
loglevel=warn
prefer-offline=true
fetch-timeout=300000
fetch-retry-mintimeout=20000
fetch-retry-maxtimeout=120000
cache-min=3600 