legacy-peer-deps=true
engine-strict=false
update-notifier=false
fund=false
loglevel=warn
prefer-offline=true
fetch-timeout=600000
fetch-retry-mintimeout=20000
fetch-retry-maxtimeout=600000
cache-min=3600
omit=optional
no-optional=true
platform=linux
arch=x64
node-linker=hoisted 